body {
    font-family: 'Inter', 'Open Sans', sans-serif;
    background-color: #FAFAFA;
    letter-spacing: 0.15em;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
}
header {
    display: flex; 
}

.imglogo {
    width: 210px;
    height: 185px;
}
.nav {
    width: 100%
    padding: 0;
    display: flex;  
}

nav ul {
    list-style: none;
    padding-left: 0;
    position: relative;
    top: 70px;
    left: 30px;
}
nav ul li {
    display: inline-block;
    margin-right: 20px;
}

/*Hero Image*/

.heroImg {
    height: 600px;
    padding: 25px;
}

.content {
    
    width: 400px;
    margin: 0 auto;
}

img {
    
    width: 440px;
    height: 440px;
}

button {
    padding: 13px;
    margin: 30px;
    text-align: center;
    color: white;
    background-color: #FF006B;
    border-radius: 34px;
    border: none;
    letter-spacing: 0.15em;   
}



/*My Skills*/

.skills {
    height: 75vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mySkills h1 {
    width: 100%;
    padding: 20px;
}
.icon1 {
    width: 100px;
    height: 100px;
    padding: 20px;
}

.icon2 {
    width: 100px;
    height: 100px;
    padding: 20px;
}

.icon3 {
    width: 100px;
    height: 100px;
    padding: 20px;
}

.Illustrator {
    width: 33%;
    height: 300px;
    padding: 20px;
}

.Figma {
    width: 33%;
    height: 300px;
    padding: 20px;
}

.Miro {
    width: 33%;
    height: 300px;
    padding: 20px;
}

/*My Work*/

.allpackimg {
    width: 500px;
    height: 350px;
}

.allpack a {
    font-size: larger;
    font-weight: 400px;
}
.restyleimg {
    width: 500px;
    height: 350px;
}
.govimg {
    width: 400px;
    height: 350px;
}
.the519img {
    width: 400px;
    height: 350px;
}
.workGrid {
    display: grid;
    padding: 20px;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 50% 50%;
    text-align: center;
}

.restyle {
    grid-column: 1;
    grid-row: 2;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.restyleBox {
    grid-column: 2;
    grid-row: 2; 
}
.the519 {
    grid-column: 1;
    grid-row: 4;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.the519Box {
    grid-column: 2;
    grid-row: 4; 
}
.IRCC {
    align-items: center;
    display: flex;
    flex-direction: column;
}

/*Footer*/

footer {
    background-color: #BD004F;
    padding: 1%;
    color: white;
}
.footer ul {
    display: flex;
    vertical-align: top;  
}

footer ul li {
    list-style: none;
    padding: 10px;
    position: relative;
}
/*@media only screen and (max-width: 600px) {
    body
}*/

@media screen and (max-width: 1000px) 
    .grid {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 25% 25% 25% 25%;
        grid-gap: 10px;
        margin-top: 100px
    }